* {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #454545;

}

/* This is a Nav css */
.brand {
  color: #454545;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  cursor: pointer;
}

.blue {
  color: #3498db;
}

a.notactive {
  font-size: 14px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #454545 !important;
  padding: 15px;
}

a.active {
  font-size: 14px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #34b1c4 !important;
  padding: 15px;
  /* transition: all 0.5s ease; */
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.navbar-collapse {
  flex-grow: 0;
}

.btn1 {
  background-color: #34b1c4;
  color: #fff;
  width: 8rem;
  border-radius: 5px;
  border-color: #34b1c4;
}

.btn1:hover {
  background-color: #fff;
  color: #34b1c4;
}



/*=> This is a Home css */
.hero-image {
  background-image: url("E:/Parth/digital-india/src/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  /* width: 100%; */
  /* max-width: 1500px; */
}

.r1 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  color: #fff;
}

.mainhead {
  color: #fff;
  visibility: visible;
  animation: parth 3s;
  /* animation-delay: 5s; */
  animation-timing-function: ease-in;
}

@keyframes parth {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero-text {
  display: flex;

}

.htext {
  padding-left: 0px !important;
}

.hicon {
  display: inline-block;
  width: 64px;
  margin-right: 20px;
}

.text {
  opacity: 0.5;
}

span.partner {
  display: inline-block;
  width: 140px;
  opacity: .5;
}

span.partner:hover {
  opacity: 1;
}


.r2 {
  padding: 50px 0px;
  background-color: #eef0f1;
  background: cover;
}

.sponsors {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}



/*=> This is a Features css */
.features {
  padding-top: 90px;
}

h2.head2 {
  text-align: center;
  color: #454545;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.2;
}

.deco {
  text-align: center;
  margin-bottom: 10px;
}

.deco::after,
.deco::before {

  background-color: #34b1c4;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 60px;
  height: 1px;
  /* margin-top: -6px; */

}

span.star {
  display: inline-block;
  width: 20px;
}

.ficon {

  padding: 18px 22px;
  font-size: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #34b1c4;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px 8px;
  border-radius: 8px 8px;
  transition: all .50s ease-in-out;
  -moz-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;

}

.ftext {
  padding: 0 10px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #858585;
  margin-bottom: 15px;
}

.banner2 {
  background-color: #eef0f1;
  padding: 90px 0;
}

.r3{
  padding-bottom: 90px;
}

.c2 {
  margin: 10px 0px 30px 0px;
}

.fcontent {
  display: inline-block;
  padding-left: 0px;
}

.check {

  float: left;
  font-size: 15px;
  line-height: 28px;
  margin: 1px 0;

}

.fbtn {
  padding: 16px 28px;
  background-color: #34b1c4;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.25s ease-in-out;
  border-radius: 6px;
  white-space: nowrap;
  vertical-align: middle;
}

.fbtn:hover {
  color: #fff;
  background-color: #337ab7;
}

.banner3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(E:/Parth/digital-india/src/img/fimg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* height: 100vh; */
  padding: 100px 0 100px 0;
  position: relative;
}
.fun-facts {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  font-style: italic;
}

.attach1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}

/*=> This is a my portfolio css */
.portfolio {
  padding: 90px 0px;
}

/* This is a Lightbox css */

.lightbox-prev,
.lightbox-next {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 3em;
  line-height: 0.8;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.lightbox-prev {
  left: 20px;
}

.lightbox-next {
  right: 20px;
}


.lightbox {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.port:hover {
  /* border: 2px solid blue; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/eye.png");
  transition: 2s ease-in-out;
}

.span.eye-wrapper {
  background-color: #000;
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 2;
  height: 100% !important;
  top: 0%;
  margin-top: 0px;
  left: 0%;
  right: 0%;
  font-size: 22px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  opacity: 0;
}

.image-container {
  margin: 10px;
  cursor: pointer;
}
.image-container:hover{
  opacity: .8;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000e6;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 800px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 40px;
  font-weight: bold;
  /* color: #fff; */
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 500px;
  }

  .prev,
  .next {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .modal-content {
    max-width: 300px;
  }

  .prev,
  .next {
    font-size: 20px;
  }
}

/* This is a Register css */
/* .register{
  padding-top: 90px;
} */
.register-image {
  display: inline-block;
}
.c41 {
  padding: 0px;
}
.c42 {
  background-color: #34b1c4;
}
.register-content {
  padding: 50px 0 50px 35px;
  width: 100%;
  max-width: 585px;
}
.form{
  padding: 25px 0 20px 0
}
.register-input {
  width: 100%;
  height: 52px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 20px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 14px;
  border-radius: 5px 5px 5px 5px;
}
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
}
.register-submit {
  color: #34b1c4;
  border: 1px solid #fff;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  max-width: 535px;
  padding: 16px 0;
  text-transform: uppercase;
  border-radius: 3px 3px;
  transition: all 1s ease-in-out;
}
.register-submit:hover{
  color: #fff;
  background-color: #34b1c4;
}

/* This is a Team css */
.team{
  padding: 90px 0px;
}
.team-box {
  text-align: center;
  background-color: #eef0f1;
  border-bottom: 3px solid #e0e0e0;
  margin-bottom: 20px;
  padding: 1px 20px 15px 20px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.team-box p.team-info {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 5px;
  color: #858585;
}
.team-box h3 {
  margin: 20px 0 1px 0!important;
  color: #454545;
  font-size: 18px;
  text-transform: uppercase;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.team-box h3:hover{
  color: #34b1c4;
}
.carousel-indicators{
  position: inherit;
}

/* This is a Services css */
.services{
  padding: 90px 0px 60px 0px;
  background-color: #eef0f1;
}
span.services1 {
  display: block;
  margin: 0 auto;
  max-width: 1140px;
  margin: 20px 0px 40px 0px;
}
.scol{
  position: relative;
  margin-top: 20px;
}
.sicon{
position: absolute;
width: 48px;
}
.stext{
  padding-left: 60px;
}
.r62{
  padding: 60px 0px;
}
.scol2{
  margin: 50px 0px 30px 0px;
}
.sbtn{
  padding: 16px 28px;
    background-color: #34b1c4;
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 6px;
}
.sbtn:hover{
  background-color: #337ab7;
  color: white;
  transition: all 0.25s ease-in-out;
}